.card{
  height: 200px;
  width: 100%;
}
.card-content{
  height: 60%;
  width: 100%;
}
img{
  height: 100%;
}
p{
  font-size: 125%;
}
*{
  font-family: 'Raleway', sans-serif;
}
.nav-content{
  height: 100px;
}
